@import url(../css/ClashDisplay.css);

:root {
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #4e57d4;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #000000;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0 15px 25px rgba(0, 0, 0, 0.08);
    --transition: all 0.5s ease;

}

/*------------------------Inicio-----------------------*/

#hero {
    background: linear-gradient(#00000081, #00000076), url(../img/banner_index_principal.png) !important;
    background-position: center !important;
    background-size: cover !important;
}


#contact:after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.438)), url(img/contador.jpg) !important;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


#counter {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.438)), url(img/contador.jpg) !important;
    background-position: center;
    background-size: cover;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
    color: var(--c-dark);
}


a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

.perrito_sobre_nosotros,
.blog_imagenes {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}


.navbar-nav .nav-link.active {
    color: var(--c-brand);
}

/* BOTONES */
.btn {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px, 24px;
}

.btn-brand {
    background-color: var(--c-brand);
    background-color: var(--c-brand);
    color: white;

}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}


/* SECCION DE TITULO */

.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.iconbox {

    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#8f82b73f, #8f82b7);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;

}

.line {
    background-color: var(--c-brand);
    width: 60px;
    height: 4px;
    margin: 16px auto 24px auto;
}

/* SERVICE */

.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(white, 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after {
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .iconbox {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;

}

/* COUNTER */



/* PORTAFOLIO */

.img-portfolio {
    height: 300px;
}

.image-zoom {
    position: relative;
    overflow: hidden;
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img {
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}

.portfolio-item .iconbox {
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portfolio-item:hover .iconbox {
    opacity: 1;
    top: 50%;
}

/*REVIEW*/

.img-review {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50px;
}

.review-head {
    position: relative;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14;
    background-color: white;
    transform: rotate(45deg);
}

.review small {
    font-weight: 600;
    text-transform: uppercase;
    color: #8f82b6;
}

/*TEAM*/
.team-member-content {
    background-color: #8f82b6;
    position: absolute;
    bottom: 24px;
    left: 50%;
    width: calc(70% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: var(--transition);
    opacity: 0;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}


/* CONTACT */

#contact {
    position: relative;
    z-index: 2;
}

#contact .form-control {
    border-radius: 0;
}

/* Catálogo */

.categorias_catalogo {
    margin: 0;
}

#producto_carrito {
    display: flex;
    border: 2px solid #dadada;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    height: 150px;
}

.categorias_catalogo {
    margin: 0;
}

#producto_carrito {
    display: flex;
    border: 2px solid #dadada;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    height: 150px;
}

.testimonios {
    background-color: #8f82b6 !important;
}

.botones_usuario {
    margin-top: 10px;
    background-color: #8F82B7 !important;
    border: 2px solid transparent !important;
    border-radius: 50px !important;
    font-size: 10px !important;
    margin-left: 10px;
    width: 120px;
    height: 25px;
    text-align: center;
    padding: 4px 10px;
}

.menu_usuario {
    border: 2px solid black !important;
    padding: 10px !important;
    border-radius: 40px 0px 40px 40px !important;
    margin-top: 70px !important;
}

.logo_navbar {
    margin-left: -90px;
}

.encabezados_tablas th {
    background-color: #8F82B7 !important;
    color: white !important;
    padding: -50px !important;
}

.crear_formulario {
    border: 2px solid #000000 !important;
    border-radius: 50px !important;
    box-shadow: 0 0 10px gray;
}

.formulario_contenedor {
    padding: 30px;
    background-color: #8F82B7;
    width: 600px;
    margin-left: 30%;
    border-radius: 50px;
    box-shadow: 0 0 20px gray;
}

.label_formularios {
    color: white
}

.input_formularios {
    width: 500px !important;
}

.enviar_formulario {
    background-color: #FFFFFF !important;
    border: 2px solid transparent !important;
    color: #8F82B7 !important;
}

.enviar_formulario:hover {
    background-color: #c8c8c8 !important;
}

.iconos_navbar {
    justify-content: space-between !important;
    text-align: center;
    margin-left: 120px;
}

.iconos_navbar li {
    margin-left: 60px;
}

#navbarNav {
    position: absolute;
}

.modulos_navbar {
    position: relative;
    font-size: 40px !important;
    transition: font-size 0.4s ease !important;
}

.modulos_navbar:hover {
    font-size: 60px !important;
}

.modulos_navbar:hover h6 {
    transition: none;
}

nav {
    height: 100px !important;
}

