<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-white sticky-top">
      <div class="container">
        <a class="logo_navbar navbar-brand" href="/"> <img src="img/logo_mascotitas_morado.png" width="150" height="45"
            alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav justify-content-center iconos_navbar">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="">
                <div style="text-align: center;">
                  <i class="bi bi-shop-window modulos_navbar"
                    style="font-size: 40px; padding-top: -20px !important; position: relative; ">
                    <h6 style="font-size: 15px; ">Catálogo</h6>
                  </i>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="">
                <div style="text-align: center;">
                  <i class="bi bi-bookmark-fill modulos_navbar"
                    style="font-size: 40px; padding-top: -20px !important; position: relative; ">
                    <h6 style="font-size: 15px;transition: none;">Categorías</h6>
                  </i>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="">
                <div style="text-align: center;">
                  <i class="bi bi-calendar-check-fill modulos_navbar"
                    style="font-size: 40px; padding-top: -20px !important; position: relative; ">
                    <h6 style="font-size: 15px;">Citas</h6>
                  </i>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="">
                <div style="text-align: center;">
                  <i class="bi bi-scissors modulos_navbar"
                    style="font-size: 40px; padding-top: -20px !important; position: relative; ">
                    <h6 style="font-size: 15px;">Servicios</h6>
                  </i>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="">
                <div style="text-align: center;">
                  <i class="bi bi-clipboard2-check modulos_navbar"
                    style="font-size: 40px; padding-top: -20px !important; position: relative; ">
                    <h6 style="font-size: 15px;">Pedidos</h6>
                  </i>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/productos">
                <div style="text-align: center;">
                  <i class="bi bi-basket2-fill modulos_navbar"
                    style="font-size: 40px; padding-top: -20px !important; position: relative; ">
                    <h6 style="font-size: 15px;">Productos</h6>
                  </i>
                </div>
              </a>

            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="">
                <div style="text-align: center;">
                  <i class="bi bi-person-fill modulos_navbar"
                    style="font-size: 40px; padding-top: -20px !important; position: relative; ">
                    <h6 style="font-size: 15px;">Usuarios</h6>
                  </i>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div style="margin-right: -100px">
          <ul class="navbar-nav me-auto">
            <li class="nav-item mr-5 position-relative">
              <a href="/iniciarSesion_Registrarse" class="btn btn-primary nav-link ">Ingresar
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>